h1 {
    color: #b3b2a9;
    font-family: "Helvetica Neue";
    font-size: 40px;
    margin: 11rem 3rem 2rem 3rem;
    text-align: center;
}

p {
    color: #94938a;
    font-family: "Helvetica Neue";
    font-size: 16px;
    margin: 1rem 3rem;
    text-align: center;
}

.github-icon svg path {
    fill: #b34950;
}

.github-icon svg {
    width: 3%;
    height: auto;
}

.linkedin-icon svg path {
    fill: #b34950;
}

.linkedin-icon svg {
    width: 3%;
    height: auto;
}

.twitter-icon svg path {
    fill: #b34950;
}

.twitter-icon svg {
    width: 3.25%;
    height: auto;
}

.instagram-icon svg path {
    fill: #b34950;
}

.instagram-icon svg {
    width: 3.25%;
    height: auto;
}
